<a {% include "@/_default.twig" with {
		_default: {
			default_class: "logo",
			class: logo.class
		}
	} %} href="./" alt="Логотип компания RDN Group">
	{% if not logo.is_short %}
		<span class="logo__icon">
			<svg width="285" height="44" viewBox="0 0 285 44" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_366_2046)">
					<g fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd"
							d="M34.9656 38.7407C31.1678 41.5418 26.5843 43.0931 21.8262 43.0931C9.77814 43.0931 0 33.4403 0 21.5466C0 9.65286 9.77814 0 21.8262 0C27.501 0 32.9139 2.15466 37.0173 6.03304C10.4329 8.10151 15.191 36.7154 34.9656 38.7407Z"
							fill="#EF7B00" />
						<path fill-rule="evenodd" clip-rule="evenodd"
							d="M35.8386 32.4061C41.3389 32.4061 45.8787 27.9675 45.8787 22.4946C45.8787 17.0649 41.3825 12.5832 35.8386 12.5832C30.2948 12.5832 25.7986 17.0218 25.7986 22.4946C25.8422 27.9675 30.3384 32.4061 35.8386 32.4061Z"
							stroke="#2C90CF" stroke-width="6" stroke-miterlimit="22.9256" />
					</g>
					<g class="logo__title">
						<path
							d="M63.2715 3.08116H70.9107C74.9267 3.08116 77.2839 5.19273 77.2839 8.4678C77.2839 11.2258 75.5815 12.9064 73.2242 13.5959L77.8514 19.9737H74.3155L69.994 14.0699H66.2835V19.9737H63.2715V3.08116ZM70.6924 11.4412C72.8314 11.4412 74.2282 10.3208 74.2282 8.55399C74.2282 6.74408 72.9187 5.75294 70.6924 5.75294H66.3272V11.4412H70.6924Z"
							fill="inherit" />
						<path
							d="M80.9507 3.08116H87.3239C92.6932 3.08116 96.4036 6.74408 96.4036 11.5274C96.4036 16.2677 92.6932 19.9737 87.3239 19.9737H80.9507V3.08116ZM87.3239 17.2588C90.9034 17.2588 93.2607 14.8887 93.2607 11.5274C93.2607 8.20924 90.9034 5.79603 87.3239 5.79603H83.9627V17.2588H87.3239Z"
							fill="inherit" />
						<path
							d="M100.071 3.08116H102.864L112.031 14.7594V3.08116H115V19.9737H112.468L103.039 7.95069V19.9737H100.071V3.08116Z"
							fill="inherit" />
						<path
							d="M62.8787 31.2641C62.8787 26.6962 66.2399 22.5162 71.3472 22.5162C74.141 22.5162 75.8871 23.3349 77.5895 24.757L76.7601 25.7051C75.4069 24.5416 73.8354 23.6797 71.2599 23.6797C67.1129 23.6797 64.1882 27.1702 64.1882 31.2641C64.1882 35.6165 66.9383 38.8916 71.5218 38.8916C73.7045 38.8916 75.7125 37.9866 76.9784 36.9524V32.1259H71.2599V30.9624H78.2007V37.4695C76.6728 38.8054 74.2719 40.012 71.4782 40.012C66.0653 40.012 62.8787 36.0474 62.8787 31.2641Z"
							fill="inherit" />
						<path
							d="M82.7842 22.8178H89.9868C92.0821 22.8178 93.7846 23.4642 94.7886 24.4985C95.5743 25.2742 96.0982 26.4377 96.0982 27.6874C96.0982 30.5315 93.9592 32.126 91.0781 32.5138L96.7093 39.7104H95.0942L89.6376 32.7293H84.0501V39.7104H82.7842V22.8178ZM89.8122 31.5658C92.6933 31.5658 94.7886 30.1437 94.7886 27.6443C94.7886 25.3603 92.9988 23.9383 89.8559 23.9383H84.0064V31.5227H89.8122V31.5658Z"
							fill="inherit" />
						<path
							d="M99.6777 31.2641C99.6777 26.6531 103.126 22.5162 108.321 22.5162C113.516 22.5162 116.92 26.61 116.92 31.2641C116.92 35.875 113.472 40.012 108.277 40.012C103.083 40.012 99.6777 35.9181 99.6777 31.2641ZM115.567 31.2641C115.567 27.084 112.468 23.6797 108.277 23.6797C104.043 23.6797 101.031 27.041 101.031 31.2641C101.031 35.4441 104.13 38.8485 108.321 38.8485C112.555 38.8485 115.567 35.4872 115.567 31.2641Z"
							fill="inherit" />
						<path
							d="M120.937 32.6862V22.8178H122.202V32.5569C122.202 36.5215 124.385 38.8485 128.008 38.8485C131.457 38.8485 133.683 36.78 133.683 32.6862V22.8178H134.949V32.5569C134.949 37.4264 132.068 39.9689 127.921 39.9689C123.861 39.9689 120.937 37.4264 120.937 32.6862Z"
							fill="inherit" />
						<path
							d="M139.794 22.8178H145.993C149.747 22.8178 152.366 24.7139 152.366 28.0321C152.366 31.5657 149.267 33.4188 145.687 33.4188H141.06V39.7104H139.794V22.8178ZM145.775 32.2552C148.961 32.2552 151.1 30.6177 151.1 28.0752C151.1 25.4034 149.005 23.9814 145.906 23.9814H141.06V32.2552H145.775Z"
							fill="inherit" />
					</g>
					<g class="logo__subtitle">
						<g class="logo__separator">
							<path d="M170.366 7.04657H169.366V36.0466H170.366V7.04657Z" fill="inherit" />
						</g>
						<path
							d="M189.343 11.3015C188.574 10.5426 188.19 9.56688 188.19 8.48274C188.19 7.3986 188.574 6.42288 189.343 5.66398C190.112 4.90508 191.1 4.52563 192.198 4.52563C192.583 4.52563 192.967 4.57984 193.352 4.68826C193.736 4.79667 194.01 4.90508 194.23 5.0677C194.45 5.23033 194.669 5.39295 194.834 5.55557C194.999 5.71819 195.164 5.8266 195.218 5.93502L195.328 6.09764L194.779 6.5855C194.779 6.53129 194.724 6.47709 194.669 6.42288C194.614 6.36867 194.505 6.26026 194.34 6.09764C194.175 5.93502 194.01 5.8266 193.791 5.71819C193.626 5.60977 193.352 5.50136 193.077 5.39295C192.748 5.28453 192.473 5.23033 192.089 5.23033C191.21 5.23033 190.441 5.55557 189.837 6.15184C189.233 6.74812 188.904 7.50702 188.904 8.42854C188.904 9.35005 189.233 10.109 189.837 10.7052C190.441 11.3015 191.21 11.6267 192.089 11.6267C192.418 11.6267 192.748 11.5725 193.077 11.4641C193.406 11.3557 193.626 11.2473 193.846 11.1389C194.065 11.0305 194.23 10.8678 194.395 10.7594C194.56 10.651 194.669 10.5426 194.724 10.4342L194.834 10.3258L195.383 10.8136C195.328 10.8678 195.328 10.9221 195.273 10.9763C195.218 11.0305 195.054 11.1931 194.889 11.3557C194.669 11.5183 194.45 11.681 194.23 11.8436C194.01 12.0062 193.681 12.1146 193.352 12.223C192.967 12.3314 192.583 12.3856 192.198 12.3856C191.045 12.4399 190.112 12.0604 189.343 11.3015Z"
							fill="inherit" />
						<path
							d="M197.305 7.07336H201.204V12.3856H200.435V7.77805H198.074V8.59116C198.074 9.35006 198.019 10.0005 197.964 10.5426C197.909 11.0847 197.744 11.4641 197.634 11.7352C197.47 12.0062 197.305 12.1688 197.14 12.2772C196.975 12.3856 196.701 12.4399 196.426 12.4399C196.316 12.4399 196.262 12.4399 196.152 12.4399C196.042 12.4399 195.987 12.3856 195.932 12.3856H195.877V11.6267C196.042 11.681 196.152 11.7352 196.316 11.7352C196.536 11.7352 196.701 11.681 196.866 11.5183C196.975 11.4099 197.085 11.0847 197.195 10.5968C197.305 10.109 197.305 9.45847 197.305 8.59116V7.07336Z"
							fill="inherit" />
						<path
							d="M203.4 11.6809C202.851 11.1388 202.576 10.4884 202.576 9.72946C202.576 8.97056 202.851 8.32008 203.4 7.77801C203.949 7.23594 204.608 6.9649 205.322 6.9649C206.036 6.9649 206.75 7.23594 207.244 7.77801C207.738 8.32008 208.067 8.97056 208.067 9.72946C208.067 10.4884 207.793 11.1388 207.244 11.6809C206.695 12.223 206.091 12.494 205.322 12.494C204.553 12.494 203.949 12.223 203.4 11.6809ZM206.75 11.1388C207.134 10.7594 207.299 10.2715 207.299 9.67525C207.299 9.07898 207.079 8.64532 206.75 8.21167C206.42 7.77801 205.926 7.61539 205.377 7.61539C204.828 7.61539 204.388 7.83222 204.004 8.21167C203.62 8.59111 203.455 9.07898 203.455 9.67525C203.455 10.2173 203.62 10.7052 204.004 11.1388C204.388 11.5183 204.828 11.7351 205.377 11.7351C205.926 11.7351 206.365 11.5725 206.75 11.1388Z"
							fill="inherit" />
						<path
							d="M212.076 10.5968L211.307 9.78368L209.385 12.3856H208.507L210.813 9.24161L208.726 7.07333H209.66L212.076 9.62106V7.07333H212.845V9.62106L215.261 7.07333H216.194L214.108 9.24161L216.414 12.3856H215.535L213.614 9.78368L212.845 10.5968V12.3856H212.076V10.5968Z"
							fill="inherit" />
						<path
							d="M221.301 12.3314V10.0005H218.226V12.3314H217.457V7.07333H218.226V9.35003H221.301V7.07333H222.07V12.3856H221.301V12.3314Z"
							fill="inherit" />
						<path
							d="M227.451 9.29585C227.78 9.62109 228 10.0547 228 10.5968C228 11.1389 227.835 11.5725 227.506 11.8978C227.176 12.223 226.682 12.3856 226.078 12.3856H223.937V7.07336H224.705V8.86219H226.023C226.627 8.80799 227.066 8.97061 227.451 9.29585ZM224.65 11.6267H226.023C226.353 11.6267 226.627 11.5183 226.847 11.3557C227.066 11.1389 227.176 10.9221 227.176 10.5968C227.176 10.2716 227.066 10.0547 226.847 9.83792C226.627 9.62109 226.353 9.56688 225.968 9.56688H224.65V11.6267ZM229.757 7.07336V12.3856H228.988V7.07336H229.757Z"
							fill="inherit" />
						<path
							d="M236.292 10.0005H231.954C232.008 10.4884 232.173 10.8678 232.558 11.2473C232.942 11.5725 233.381 11.7894 233.875 11.7894C234.205 11.7894 234.534 11.7351 234.809 11.5725C235.084 11.4099 235.303 11.3015 235.413 11.1389L235.578 10.922L236.072 11.4099C236.072 11.4641 236.017 11.4641 235.962 11.5183C235.907 11.5725 235.852 11.6809 235.688 11.7894C235.523 11.8978 235.413 12.0062 235.248 12.1146C235.083 12.223 234.864 12.2772 234.644 12.3856C234.37 12.4398 234.15 12.494 233.875 12.494C233.162 12.494 232.503 12.223 232.008 11.6809C231.514 11.1389 231.24 10.4884 231.24 9.72949C231.24 8.97059 231.514 8.32011 232.008 7.77804C232.558 7.23597 233.162 6.96494 233.875 6.96494C234.589 6.96494 235.193 7.23597 235.688 7.72383C236.182 8.2117 236.401 8.86218 236.401 9.62108L236.292 10.0005ZM234.974 8.15749C234.644 7.83225 234.26 7.66963 233.766 7.66963C233.271 7.66963 232.887 7.83225 232.558 8.15749C232.228 8.48273 232.008 8.86218 231.954 9.29584H235.578C235.523 8.86218 235.303 8.42852 234.974 8.15749Z"
							fill="inherit" />
						<path
							d="M240.629 11.5183V14.6623H239.861V7.07335H240.629V7.88645C240.629 7.88645 240.684 7.83225 240.684 7.77804C240.739 7.72383 240.794 7.66963 240.904 7.56121C241.014 7.4528 241.124 7.34438 241.288 7.29018C241.453 7.18176 241.618 7.12756 241.837 7.07335C242.057 7.01914 242.277 6.96494 242.496 6.96494C243.155 6.96494 243.759 7.23597 244.308 7.77804C244.803 8.32011 245.077 8.97059 245.077 9.72949C245.077 10.4884 244.803 11.1389 244.308 11.6809C243.814 12.223 243.21 12.494 242.496 12.494C242.277 12.494 242.057 12.4398 241.837 12.3856C241.618 12.3314 241.453 12.223 241.288 12.1688C241.124 12.0604 241.014 12.0062 240.904 11.8978C240.794 11.7894 240.739 11.7351 240.684 11.6809L240.629 11.5183ZM241.233 8.2659C240.849 8.69956 240.629 9.13321 240.629 9.67528C240.629 10.2174 240.849 10.7052 241.233 11.0847C241.618 11.5183 242.057 11.6809 242.551 11.6809C242.99 11.6809 243.43 11.4641 243.814 11.0847C244.199 10.7052 244.363 10.2174 244.363 9.62108C244.363 9.0248 244.199 8.59114 243.814 8.15749C243.43 7.77804 243.045 7.56121 242.551 7.56121C242.057 7.66963 241.618 7.88645 241.233 8.2659Z"
							fill="inherit" />
						<path
							d="M251.282 10.0005H246.944C246.999 10.4884 247.164 10.8678 247.548 11.2473C247.932 11.5725 248.372 11.7894 248.866 11.7894C249.195 11.7894 249.525 11.7351 249.799 11.5725C250.074 11.4099 250.294 11.3015 250.403 11.1389L250.568 10.922L251.062 11.4099C251.062 11.4641 251.007 11.4641 250.953 11.5183C250.898 11.5725 250.843 11.6809 250.678 11.7894C250.513 11.8978 250.403 12.0062 250.239 12.1146C250.074 12.223 249.854 12.2772 249.635 12.3856C249.36 12.4398 249.14 12.494 248.866 12.494C248.152 12.494 247.493 12.223 246.999 11.6809C246.505 11.1389 246.23 10.4884 246.23 9.72949C246.23 8.97059 246.505 8.32011 246.999 7.77804C247.548 7.23597 248.152 6.96494 248.866 6.96494C249.58 6.96494 250.184 7.23597 250.678 7.72383C251.172 8.2117 251.392 8.86218 251.392 9.62108L251.282 10.0005ZM249.964 8.15749C249.635 7.83225 249.25 7.66963 248.756 7.66963C248.262 7.66963 247.878 7.83225 247.548 8.15749C247.219 8.48273 246.999 8.86218 246.944 9.29584H250.568C250.458 8.86218 250.294 8.42852 249.964 8.15749Z"
							fill="inherit" />
						<path
							d="M252.71 12.3314V7.07336H253.478V11.681H255.785V7.07336H256.553V11.681H258.86V7.07336H259.628V12.3856H252.71V12.3314Z"
							fill="inherit" />
						<path
							d="M266.163 10.0005H261.825C261.88 10.4884 262.045 10.8678 262.429 11.2473C262.813 11.5725 263.253 11.7893 263.747 11.7893C264.076 11.7893 264.406 11.7351 264.68 11.5725C264.955 11.4099 265.174 11.3015 265.284 11.1388L265.449 10.922L265.943 11.4099C265.943 11.4641 265.888 11.4641 265.833 11.5183C265.778 11.5725 265.724 11.6809 265.559 11.7893C265.394 11.8977 265.284 12.0062 265.12 12.1146C264.955 12.223 264.735 12.2772 264.515 12.3856C264.241 12.4398 264.021 12.494 263.747 12.494C263.033 12.494 262.374 12.223 261.88 11.6809C261.386 11.1388 261.111 10.4884 261.111 9.72946C261.111 8.97056 261.386 8.32008 261.88 7.77801C262.429 7.23594 263.033 6.9649 263.747 6.9649C264.461 6.9649 265.065 7.23594 265.559 7.7238C266.053 8.21167 266.273 8.86215 266.273 9.62105L266.163 10.0005ZM264.9 8.15746C264.57 7.83222 264.186 7.6696 263.692 7.6696C263.198 7.6696 262.813 7.83222 262.484 8.15746C262.154 8.4827 261.935 8.86215 261.88 9.2958H265.504C265.394 8.86215 265.229 8.42849 264.9 8.15746Z"
							fill="inherit" />
						<path
							d="M271.489 12.3314V10.0005H268.414V12.3314H267.646V7.07333H268.414V9.35003H271.489V7.07333H272.258V12.3856H271.489V12.3314Z"
							fill="inherit" />
						<path
							d="M278.078 7.07333H278.737V12.3856H277.968V8.42851L274.729 12.3856H274.07V7.07333H274.839V11.0304L278.078 7.07333Z"
							fill="inherit" />
						<path
							d="M280.22 8.80796C280.22 8.32009 280.385 7.88644 280.769 7.5612C281.153 7.23595 281.593 7.07333 282.197 7.07333H284.503V12.3856H283.679V10.5968H282.087L280.989 12.3856H280.11L281.318 10.4342C281.263 10.4342 281.263 10.4342 281.208 10.38C281.153 10.38 281.044 10.3258 280.934 10.2173C280.824 10.1631 280.714 10.0547 280.604 9.9463C280.494 9.83789 280.44 9.67527 280.33 9.45844C280.22 9.24161 280.22 9.07899 280.22 8.80796ZM283.679 7.77802H282.197C281.812 7.77802 281.538 7.88644 281.318 8.04906C281.099 8.26589 280.989 8.48272 280.989 8.80796C280.989 9.1332 281.099 9.35003 281.318 9.56685C281.538 9.78368 281.812 9.83789 282.197 9.83789H283.679V7.77802Z"
							fill="inherit" />
						<path
							d="M194.999 25.3411H194.175V19.1073L189.343 25.3411H188.629V17.6437H189.453V23.8775L194.285 17.6437H194.999V25.3411Z"
							fill="inherit" />
						<path
							d="M200.874 25.3411V23.0102H197.799V25.3411H197.031V20.083H197.799V22.3597H200.874V20.083H201.643V25.3953H200.874V25.3411Z"
							fill="inherit" />
						<path d="M202.796 20.7877V20.083H207.354V20.7877H205.432V25.3953H204.663V20.7877H202.796Z"
							fill="inherit" />
						<path
							d="M213.229 23.0102H208.891C208.946 23.498 209.111 23.8775 209.495 24.2569C209.879 24.5822 210.319 24.799 210.813 24.799C211.142 24.799 211.472 24.7448 211.746 24.5822C212.021 24.4196 212.241 24.3112 212.35 24.1485L212.515 23.9317L213.009 24.4196C213.009 24.4738 212.954 24.4738 212.9 24.528C212.845 24.5822 212.79 24.6906 212.625 24.799C212.46 24.9074 212.35 25.0158 212.186 25.1243C212.021 25.2327 211.801 25.2869 211.582 25.3953C211.307 25.4495 211.088 25.5037 210.813 25.5037C210.099 25.5037 209.44 25.2327 208.946 24.6906C208.452 24.1485 208.177 23.498 208.177 22.7392C208.177 21.9803 208.452 21.3298 208.946 20.7877C209.495 20.2456 210.099 19.9746 210.813 19.9746C211.527 19.9746 212.131 20.2456 212.625 20.7335C213.119 21.2214 213.339 21.8718 213.339 22.6307L213.229 23.0102ZM211.911 21.1671C211.582 20.8419 211.197 20.6793 210.703 20.6793C210.209 20.6793 209.825 20.8419 209.495 21.1671C209.166 21.4924 208.946 21.8718 208.891 22.3055H212.515C212.46 21.8718 212.241 21.4382 211.911 21.1671Z"
							fill="inherit" />
						<path d="M218.281 20.083V20.7877H215.48V25.3953H214.712V20.083H218.281Z" fill="inherit" />
						<path
							d="M220.038 24.528V27.672H219.269V20.083H220.038V20.8961C220.038 20.8961 220.093 20.8419 220.093 20.7877C220.148 20.7335 220.203 20.6793 220.313 20.5709C220.422 20.4625 220.532 20.354 220.697 20.2998C220.862 20.1914 221.026 20.1372 221.246 20.083C221.466 20.0288 221.685 19.9746 221.905 19.9746C222.564 19.9746 223.168 20.2456 223.717 20.7877C224.211 21.3298 224.486 21.9803 224.486 22.7391C224.486 23.498 224.211 24.1485 223.717 24.6906C223.223 25.2327 222.619 25.5037 221.905 25.5037C221.685 25.5037 221.466 25.4495 221.246 25.3953C221.026 25.3411 220.862 25.2327 220.697 25.1785C220.532 25.07 220.422 25.0158 220.313 24.9074C220.203 24.799 220.148 24.7448 220.093 24.6906L220.038 24.528ZM220.642 21.2756C220.258 21.7092 220.038 22.1429 220.038 22.6849C220.038 23.227 220.258 23.7149 220.642 24.0943C221.026 24.4738 221.466 24.6906 221.96 24.6906C222.399 24.6906 222.838 24.4738 223.223 24.0943C223.607 23.7149 223.772 23.227 223.772 22.6307C223.772 22.0887 223.607 21.6008 223.223 21.1671C222.838 20.7877 222.454 20.5709 221.96 20.5709C221.466 20.6793 221.026 20.8961 220.642 21.2756Z"
							fill="inherit" />
						<path
							d="M227.121 22.3055L229.208 21.9802C229.208 21.6008 229.098 21.2756 228.824 21.0045C228.549 20.7335 228.275 20.6251 227.835 20.6251C227.561 20.6251 227.286 20.6793 227.012 20.8419C226.737 21.0045 226.572 21.1129 226.463 21.2213L226.298 21.384L225.804 20.8961C225.804 20.8419 225.859 20.8419 225.913 20.7877C225.968 20.7335 226.023 20.6793 226.188 20.5709C226.298 20.4624 226.463 20.354 226.572 20.2456C226.737 20.1372 226.902 20.083 227.121 20.0288C227.341 19.9746 227.616 19.9204 227.835 19.9204C228.439 19.9204 228.934 20.1372 229.373 20.5167C229.757 20.8961 229.977 21.384 229.977 21.9802V25.3411H229.208V24.6364C229.208 24.6364 229.153 24.6906 229.153 24.7448C229.098 24.799 229.043 24.8532 228.934 24.9616C228.824 25.07 228.714 25.1242 228.604 25.2327C228.494 25.2869 228.329 25.3953 228.11 25.4495C227.89 25.5037 227.725 25.5579 227.506 25.5579C226.957 25.5579 226.517 25.3953 226.133 25.07C225.749 24.7448 225.584 24.4196 225.584 23.9859C225.584 23.5522 225.694 23.1728 225.968 22.9018C226.243 22.5765 226.627 22.4139 227.121 22.3055ZM227.451 24.7448C227.945 24.7448 228.384 24.5822 228.714 24.2569C229.043 23.9317 229.208 23.498 229.208 23.0102V22.6849L227.341 23.0102C226.682 23.1186 226.353 23.4438 226.353 23.9317C226.353 24.1485 226.463 24.3653 226.627 24.528C226.792 24.6906 227.067 24.7448 227.451 24.7448Z"
							fill="inherit" />
						<path
							d="M231.734 25.3411V20.083H232.503V24.6906H235.468V20.083H236.237V24.6906H237.06V26.7504H236.291V25.4495H231.734V25.3411Z"
							fill="inherit" />
						<path
							d="M242.386 20.083H243.045V25.3953H242.277V21.4382L239.037 25.3953H238.378V20.083H239.147V24.0401L242.386 20.083Z"
							fill="inherit" />
						<path
							d="M244.473 21.8176C244.473 21.3298 244.638 20.8961 245.022 20.5709C245.407 20.2456 245.846 20.083 246.45 20.083H248.756V25.3953H247.987V23.6064H246.395L245.297 25.3953H244.418L245.626 23.4438C245.571 23.4438 245.571 23.4438 245.516 23.3896C245.462 23.3896 245.352 23.3354 245.242 23.227C245.132 23.1728 245.022 23.0644 244.912 22.956C244.803 22.8475 244.748 22.6849 244.638 22.4681C244.528 22.3055 244.473 22.0887 244.473 21.8176ZM247.932 20.7877H246.45C246.066 20.7877 245.791 20.8961 245.571 21.0587C245.352 21.2755 245.242 21.4924 245.242 21.8176C245.242 22.1429 245.352 22.3597 245.571 22.5765C245.791 22.7933 246.066 22.8475 246.45 22.8475H247.932V20.7877Z"
							fill="inherit" />
						<path
							d="M194.505 30.6534V38.405H193.681V31.4123H190.331V32.93C190.331 34.0684 190.276 34.9899 190.167 35.7488C190.057 36.5077 189.947 37.0498 189.727 37.4292C189.508 37.8087 189.288 38.0797 189.068 38.1881C188.849 38.3507 188.519 38.405 188.135 38.405C188.025 38.405 187.915 38.405 187.751 38.405C187.641 38.405 187.531 38.3507 187.476 38.3507H187.366V37.5376C187.586 37.5918 187.805 37.6461 187.97 37.6461C188.19 37.6461 188.41 37.5918 188.574 37.4834C188.739 37.375 188.904 37.1582 189.014 36.833C189.178 36.5077 189.233 36.0198 189.343 35.3694C189.398 34.7189 189.453 33.9058 189.453 32.93V30.5992H194.505V30.6534Z"
							fill="inherit" />
						<path
							d="M200.545 33.0927H201.204V38.405H200.435V34.4479L197.195 38.405H196.536V33.0927H197.305V37.0498L200.545 33.0927Z"
							fill="inherit" />
						<path
							d="M206.475 38.3508V36.1825C206.091 36.4535 205.542 36.6161 204.993 36.6161C204.389 36.6161 203.894 36.4535 203.51 36.0741C203.126 35.6946 202.961 35.2068 202.961 34.6105V33.0927H203.73V34.6647C203.73 35.0441 203.84 35.3694 204.114 35.5862C204.389 35.8572 204.663 35.9657 205.102 35.9657C205.377 35.9657 205.652 35.9114 205.871 35.8572C206.091 35.803 206.31 35.6946 206.365 35.5862L206.53 35.4778V33.0927H207.299V38.405H206.475V38.3508Z"
							fill="inherit" />
						<path
							d="M212.9 38.3508V36.0199H209.825V38.3508H209.056V33.0927H209.825V35.3694H212.9V33.0927H213.668V38.405H212.9V38.3508Z"
							fill="inherit" />
						<path
							d="M219.05 35.3152C219.379 35.6404 219.599 36.0741 219.599 36.6161C219.599 37.1582 219.434 37.5919 219.105 37.9171C218.775 38.2423 218.281 38.405 217.677 38.405H215.535V33.0927H216.304V34.8815H217.622C218.226 34.8273 218.665 34.9899 219.05 35.3152ZM216.249 37.6461H217.622C217.951 37.6461 218.226 37.5377 218.446 37.375C218.665 37.1582 218.775 36.9414 218.775 36.6161C218.775 36.2909 218.665 36.0741 218.446 35.8572C218.226 35.6404 217.951 35.5862 217.567 35.5862H216.249V37.6461ZM221.356 33.0927V38.405H220.587V33.0927H221.356Z"
							fill="inherit" />
						<path
							d="M227.89 36.0199H223.552C223.607 36.5077 223.772 36.8872 224.156 37.2666C224.541 37.5919 224.98 37.8087 225.474 37.8087C225.804 37.8087 226.133 37.7545 226.408 37.5919C226.682 37.4292 226.902 37.3208 227.012 37.1582L227.176 36.9414L227.67 37.4292C227.67 37.4834 227.616 37.4834 227.561 37.5377C227.506 37.5919 227.451 37.7003 227.286 37.8087C227.121 37.9171 227.012 38.0255 226.847 38.1339C226.682 38.2423 226.462 38.2966 226.243 38.405C225.968 38.4592 225.749 38.5134 225.474 38.5134C224.76 38.5134 224.101 38.2423 223.607 37.7003C223.113 37.1582 222.838 36.5077 222.838 35.7488C222.838 34.9899 223.113 34.3394 223.607 33.7974C224.156 33.2553 224.76 32.9843 225.474 32.9843C226.188 32.9843 226.792 33.2553 227.286 33.7432C227.78 34.231 228 34.8815 228 35.6404L227.89 36.0199ZM226.572 34.1768C226.243 33.8516 225.858 33.689 225.364 33.689C224.87 33.689 224.486 33.8516 224.156 34.1768C223.827 34.5021 223.607 34.8815 223.552 35.3152H227.176C227.121 34.8815 226.902 34.4479 226.572 34.1768Z"
							fill="inherit" />
						<path
							d="M232.228 36.8872V38.3508H231.459V33.0927H232.228V35.9114L234.919 33.0927H235.852L233.765 35.261L236.072 38.405H235.193L233.271 35.803L232.228 36.8872Z"
							fill="inherit" />
						<path
							d="M238.268 35.3151L240.355 34.9899C240.355 34.6104 240.245 34.2852 239.97 34.0141C239.696 33.7431 239.421 33.6347 238.982 33.6347C238.707 33.6347 238.433 33.6889 238.158 33.8515C237.884 34.0141 237.719 34.1225 237.609 34.231L237.445 34.3936L236.95 33.9057C236.95 33.8515 237.005 33.8515 237.06 33.7973C237.115 33.7431 237.17 33.6889 237.335 33.5805C237.499 33.4721 237.609 33.3637 237.719 33.2552C237.829 33.1468 238.049 33.0926 238.268 33.0384C238.488 32.9842 238.762 32.93 238.982 32.93C239.586 32.93 240.08 33.1468 240.52 33.5263C240.904 33.9057 241.124 34.3936 241.124 34.9899V38.3507H240.355V37.646C240.355 37.646 240.3 37.7002 240.3 37.7544C240.245 37.8086 240.19 37.8628 240.08 37.9712C239.97 38.0797 239.861 38.1339 239.751 38.2423C239.641 38.2965 239.476 38.4049 239.257 38.4591C239.037 38.5133 238.872 38.5675 238.653 38.5675C238.103 38.5675 237.664 38.4049 237.28 38.0797C236.895 37.7544 236.731 37.4292 236.731 36.9955C236.731 36.5619 236.841 36.1824 237.115 35.9114C237.39 35.5861 237.774 35.4235 238.268 35.3151ZM238.598 37.7544C239.092 37.7544 239.531 37.5918 239.861 37.2666C240.19 36.9413 240.355 36.5077 240.355 36.0198V35.6946L238.488 36.0198C237.829 36.1282 237.499 36.4534 237.499 36.9413C237.499 37.1581 237.609 37.375 237.774 37.5376C237.939 37.7002 238.268 37.7544 238.598 37.7544Z"
							fill="inherit" />
						<path
							d="M247.987 35.8573C247.987 36.6161 247.713 37.2124 247.219 37.7545C246.725 38.2424 246.066 38.5134 245.352 38.5134C244.583 38.5134 243.924 38.2424 243.43 37.6461C242.936 37.0498 242.661 36.1825 242.661 35.0984C242.661 32.659 243.595 31.3039 245.407 30.9786C245.791 30.9244 246.175 30.816 246.45 30.7076C246.779 30.5992 246.944 30.4908 247.054 30.4366L247.219 30.3281L247.603 30.9244C247.329 31.1955 246.615 31.4123 245.462 31.6291C244.858 31.7375 244.418 32.0086 244.034 32.4422C243.65 32.8759 243.485 33.4721 243.43 34.231C243.43 34.1768 243.485 34.1768 243.485 34.1226C243.54 34.0684 243.595 34.0142 243.704 33.8516C243.814 33.7432 243.924 33.6348 244.089 33.5264C244.254 33.4179 244.418 33.3637 244.638 33.2553C244.858 33.2011 245.077 33.1469 245.297 33.1469C246.011 33.1469 246.615 33.4179 247.109 33.9058C247.768 34.4479 247.987 35.0984 247.987 35.8573ZM244.089 34.4479C243.704 34.8273 243.54 35.261 243.54 35.803C243.54 36.3451 243.704 36.833 244.089 37.1582C244.473 37.5377 244.912 37.7003 245.407 37.7003C245.901 37.7003 246.34 37.5377 246.725 37.1582C247.109 36.7788 247.274 36.3451 247.274 35.803C247.274 35.261 247.109 34.7731 246.725 34.4479C246.34 34.0684 245.901 33.9058 245.407 33.9058C244.912 33.9058 244.418 34.0684 244.089 34.4479Z"
							fill="inherit" />
						<path
							d="M253.478 33.0927H254.137V38.405H253.369V34.4479L250.129 38.405H249.47V33.0927H250.239V37.0498L253.478 33.0927Z"
							fill="inherit" />
						<path
							d="M259.793 38.3508V36.0199H256.718V38.3508H255.949V33.0927H256.718V35.3694H259.793V33.0927H260.562V38.405H259.793V38.3508Z"
							fill="inherit" />
						<path
							d="M267.151 36.0199H262.813C262.868 36.5077 263.033 36.8872 263.417 37.2666C263.802 37.5919 264.241 37.8087 264.735 37.8087C265.065 37.8087 265.394 37.7545 265.669 37.5919C265.943 37.4292 266.163 37.3208 266.273 37.1582L266.437 36.9414L266.931 37.4292C266.931 37.4834 266.877 37.4834 266.822 37.5377C266.767 37.5919 266.712 37.7003 266.547 37.8087C266.382 37.9171 266.273 38.0255 266.108 38.1339C265.943 38.2423 265.723 38.2966 265.504 38.405C265.229 38.4592 265.01 38.5134 264.735 38.5134C264.021 38.5134 263.362 38.2423 262.868 37.7003C262.374 37.1582 262.099 36.5077 262.099 35.7488C262.099 34.9899 262.374 34.3394 262.868 33.7974C263.417 33.2553 264.021 32.9843 264.735 32.9843C265.449 32.9843 266.053 33.2553 266.547 33.7432C267.041 34.231 267.261 34.8815 267.261 35.6404L267.151 36.0199ZM265.833 34.1768C265.504 33.8516 265.119 33.689 264.625 33.689C264.131 33.689 263.747 33.8516 263.417 34.1768C263.088 34.5021 262.868 34.8815 262.813 35.3152H266.437C266.327 34.8815 266.163 34.4479 265.833 34.1768Z"
							fill="inherit" />
						<path d="M267.92 33.7974V33.0927H272.478V33.7974H270.556V38.405H269.787V33.7974H267.92Z"
							fill="inherit" />
						<path
							d="M277.145 35.3152C277.474 35.6404 277.694 36.0741 277.694 36.6161C277.694 37.1582 277.529 37.5919 277.2 37.9171C276.87 38.2423 276.376 38.405 275.772 38.405H273.631V33.0927H274.399V34.8815H275.717C276.321 34.8273 276.815 34.9899 277.145 35.3152ZM274.399 37.6461H275.772C276.102 37.6461 276.376 37.5377 276.596 37.375C276.815 37.1582 276.925 36.9414 276.925 36.6161C276.925 36.2909 276.815 36.0741 276.596 35.8572C276.376 35.6404 276.102 35.5862 275.717 35.5862H274.399V37.6461ZM279.506 33.0927V38.405H278.737V33.0927H279.506Z"
							fill="inherit" />
					</g>
				</g>
				<defs>
					<clipPath id="clip0_366_2046">
						<rect width="284.503" height="43.0931" fill="white" />
					</clipPath>
				</defs>
			</svg>
		</span>
	{% endif %}

	{% if logo.is_short or logo.is_toggle %}
		<span class="logo__icon logo__icon--short">
			<svg width="181" height="53" viewBox="0 0 181 53" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_366_2570)">
					<path fill-rule="evenodd" clip-rule="evenodd"
						d="M42.3458 46.9178C37.7465 50.3101 32.1955 52.1889 26.4331 52.1889C11.842 52.1889 0 40.4986 0 26.0944C0 11.6903 11.842 0 26.4331 0C33.3057 0 39.8611 2.60944 44.8306 7.30644C12.635 9.81151 18.3974 44.4649 42.3458 46.9178Z"
						fill="#EF7B00" />
					<path fill-rule="evenodd" clip-rule="evenodd"
						d="M43.4031 39.2461C50.0643 39.2461 55.5624 33.8707 55.5624 27.2427C55.5624 20.6669 50.1171 15.2393 43.4031 15.2393C36.6891 15.2393 31.2439 20.6147 31.2439 27.2427C31.2968 33.8707 36.742 39.2461 43.4031 39.2461Z"
						stroke="#2C90CF" stroke-width="6" stroke-miterlimit="22.9256" />
					<path
						d="M73.0381 3.73145H82.2897C87.1534 3.73145 90.0082 6.2887 90.0082 10.2551C90.0082 13.5951 87.9464 15.6305 85.0916 16.4655L90.6954 24.1895H86.4132L81.1795 17.0396H76.6859V24.1895H73.0381V3.73145ZM82.0253 13.8561C84.6158 13.8561 86.3075 12.4992 86.3075 10.3594C86.3075 8.1675 84.7215 6.96716 82.0253 6.96716H76.7387V13.8561H82.0253Z"
						fill="white" />
					<path
						d="M94.449 3.73145H102.167C108.67 3.73145 113.164 8.1675 113.164 13.9605C113.164 19.7012 108.67 24.1895 102.167 24.1895H94.449V3.73145ZM102.167 20.9016C106.502 20.9016 109.357 18.0312 109.357 13.9605C109.357 9.94192 106.502 7.01934 102.167 7.01934H98.0967V20.9016H102.167Z"
						fill="white" />
					<path
						d="M117.604 3.73145H120.988L132.09 17.8746V3.73145H135.685V24.1895H132.618L121.199 9.62879V24.1895H117.604V3.73145Z"
						fill="white" />
					<path
						d="M72.5623 37.8629C72.5623 32.3309 76.633 27.2686 82.8183 27.2686C86.2017 27.2686 88.3164 28.2601 90.3782 29.9824L89.3737 31.1305C87.7349 29.7214 85.8317 28.6777 82.7126 28.6777C77.6903 28.6777 74.1482 32.905 74.1482 37.8629C74.1482 43.134 77.4788 47.1003 83.0298 47.1003C85.6731 47.1003 88.1049 46.0044 89.6381 44.7518V38.9067H82.7126V37.4976H91.1183V45.3781C89.268 46.996 86.3603 48.4572 82.9769 48.4572C76.4215 48.4572 72.5623 43.6559 72.5623 37.8629Z"
						fill="white" />
					<path
						d="M96.6692 27.6338H105.392C107.93 27.6338 109.991 28.4166 111.207 29.6692C112.159 30.6086 112.793 32.0177 112.793 33.5311C112.793 36.9756 110.203 38.9066 106.714 39.3763L113.534 48.0918H111.577L104.969 39.6372H98.2023V48.0918H96.6692V27.6338ZM105.181 38.2281C108.67 38.2281 111.207 36.5059 111.207 33.4789C111.207 30.7129 109.04 28.9907 105.234 28.9907H98.1494V38.1759H105.181V38.2281Z"
						fill="white" />
					<path
						d="M117.128 37.8629C117.128 32.2787 121.305 27.2686 127.596 27.2686C133.887 27.2686 138.011 32.2265 138.011 37.8629C138.011 43.4471 133.834 48.4572 127.543 48.4572C121.252 48.4572 117.128 43.4993 117.128 37.8629ZM136.372 37.8629C136.372 32.8006 132.618 28.6777 127.543 28.6777C122.415 28.6777 118.767 32.7484 118.767 37.8629C118.767 42.9252 122.521 47.0481 127.596 47.0481C132.724 47.0481 136.372 42.9774 136.372 37.8629Z"
						fill="white" />
					<path
						d="M142.874 39.585V27.6338H144.407V39.4285C144.407 44.2299 147.051 47.0481 151.439 47.0481C155.615 47.0481 158.311 44.543 158.311 39.585V27.6338H159.844V39.4285C159.844 45.3258 156.355 48.405 151.333 48.405C146.416 48.405 142.874 45.3258 142.874 39.585Z"
						fill="white" />
					<path
						d="M165.713 27.6338H173.22C177.766 27.6338 180.938 29.9301 180.938 33.9486C180.938 38.2281 177.185 40.4723 172.85 40.4723H167.246V48.0918H165.713V27.6338ZM172.955 39.0632C176.815 39.0632 179.405 37.08 179.405 34.0008C179.405 30.7651 176.867 29.0429 173.114 29.0429H167.246V39.0632H172.955Z"
						fill="white" />
				</g>
				<defs>
					<clipPath id="clip0_366_2570">
						<rect width="180.938" height="52.1889" fill="white" />
					</clipPath>
				</defs>
			</svg>
		</span>
	{% endif %}
</a>