/*~~~~~~~~~~~~~~~~~~~~~~~~~ FONT FAMILY ~~~~~~~~~~~~~~~~~~~~~~~~~*/
@mixin font-face($font-family, $weight, $url, $file-name, $style: normal) {
	@font-face {
		font-family: "#{$font-family}";
		src: url("#{$url}#{$file-name}.woff2") format("woff2"), url("#{$url}#{$file-name}.woff") format("woff");
		font-weight: #{$weight};
		font-display: swap;
		font-style: $style;
	}
}

@include font-face("Segoe UI", 300, "./../../fonts/", "SegoeUI-Light");
@include font-face("Segoe UI", 400, "./../../fonts/", "SegoeUI");
@include font-face("Segoe UI", 400, "./../../fonts/", "SegoeUI-Italic", italic);
@include font-face("Segoe UI", 600, "./../../fonts/", "SegoeUI-SemiBold");
@include font-face("Segoe UI", 600, "./../../fonts/", "SegoeUI-SemiBoldItalic", italic);
@include font-face("Segoe UI", 700, "./../../fonts/", "SegoeUI-Bold");
@include font-face("Segoe UI", 700, "./../../fonts/", "SegoeUI-BoldItalic", italic);
@include font-face("Px Grotesk", 300, "./../../fonts/", "PxGrotesk-Light");
@include font-face("Px Grotesk", 400, "./../../fonts/", "PxGrotesk-Regular");
@include font-face("Px Grotesk", 700, "./../../fonts/", "PxGrotesk-Bold");
@include font-face("Inter", 300, "./../../fonts/", "Inter-Light");
@include font-face("Inter", 700, "./../../fonts/", "Inter-Bold");
