{% extends "layouts/page.twig" %}

{% block content %}
	<div class=" container">
		<h1>404</h1>
		<p>Извините! Страница, которую Вы ищете, не может быть найдена:(</p>
		<div class="btns">
			<div class="btns__list">
				<a class="btn btn--border" href="/">
					<span class="btn__value">Перейти на главную</span>
				</a>
			</div>
		</div>
	</div>
{% endblock content %}