<!-- FOOTER -->
<footer class="footer">	
	<div class="footer__top">
		<div class="footer__top-container container">
			<!-- row footer -->
			<div class="footer__row">
				<!-- col -->
				<div class="footer__col">
					<a class="m-0 footer__logo logo">
						<img src="./assets/img/logo.svg" alt="Логотип компании Ter Hürne">
					</a>
					<p class="my-36 my-sm-20">
						Информация, представленная на сайте, не является договором публичной оферты
					</p>
					<div class="msgrs">
						<div class="msgrs__list">
							<a class="msgrs__link" href="tel:+375296210318">
								<svg>
									<use xlink:href="assets/img/icons/ui/sprite.svg#phone"></use>
								</svg>
							</a>
							<a class="msgrs__link msgrs__link--tg" href="https://msngr.link/tg/+375296210318">
								<svg>
									<use xlink:href="assets/img/icons/ui/sprite.svg#telegram"></use>
								</svg>
							</a>
							<a class="msgrs__link msgrs__link--viber" href="https://msngr.link/vi/+375296210318">
								<svg>
									<use xlink:href="assets/img/icons/ui/sprite.svg#viber"></use>
								</svg>
							</a>
							<a class="msgrs__link msgrs__link--phone" href="tel:+375296210318">
								+375 29 <i>621 03 18</i>
							</a>
						</div>
					</div>
				</div>
				<!-- col -->
				<div class="footer__col">
					<!-- nav -->
					<ul class="footer__nav footer__nav--direction_col">
						<li class="footer__nav-item">
							<a class="footer__nav-link footer__nav-link--title" href="#">
								Каталог
							</a>
						</li>
						<li class="footer__nav-item">
							<a class="footer__nav-link" href="#">
								Инженерный пол
							</a>
						</li>
						<li class="footer__nav-item">
							<a class="footer__nav-link" href="#">
								Хайвуд
							</a>
						</li>
						<li class="footer__nav-item">
							<a class="footer__nav-link" href="#">
								Avatara 3.0
							</a>
						</li>
						<li class="footer__nav-item">
							<a class="footer__nav-link" href="#">
								Виниловое напольное покрытие
							</a>
						</li>
						<li class="footer__nav-item">
							<a class="footer__nav-link" href="#">
								Dureco
							</a>
						</li>
						<li class="footer__nav-item">
							<a class="footer__nav-link" href="#">
								Ламинированный пол
							</a>
						</li>
					</ul>
				</div>
				<!-- col -->
				<div class="footer__col">
					<!-- nav -->
					<ul class="footer__nav footer__nav--direction_row">
						<li class="footer__nav-item">
							<a class="footer__nav-link footer__nav-link--title" href="#">
								Обзор
							</a>
						</li>
						<li class="footer__nav-item">
							<a class="footer__nav-link footer__nav-link--title" href="#">
								Где купить         
							</a>
						</li>
						<li class="footer__nav-item">
							<a class="footer__nav-link footer__nav-link--title" href="#">
								Контакты
							</a>
						</li>
					</ul>
					<div class="firm-info">
						<svg class="firm-info__icon">
							<use xlink:href="assets/img/icons/ui/sprite.svg#location"></use>
						</svg>
						Уручская 14а (склад)
					</div> <br>
					<div class="firm-info">
						<svg class="firm-info__icon">
							<use xlink:href="assets/img/icons/ui/sprite.svg#clock"></use>
						</svg>
						пн-пт: 10.00-19.00, сб-вс: выходной
					</div> <br>
					<div class="firm-info firm-info--email" data-copy="info@autobis.org" title="Почта">
						<svg class="firm-info__icon" height="16" width="16" aria-hidden="true">
							<use xlink:href="assets/img/icons/ui/sprite.svg#copy"></use>
						</svg>
						info@2611.by
					</div> <br>
					<div class="firm-info firm-info--work">
						<img class="firm-info__icon" src="assets/img/icons/other/belarus.png" alt="">
						Работаем по всей Беларуси
					</div>
				</div>
				<!-- col -->
				<div class="footer__col">
					<button class="btn btn--icon btn--bg btn--size_xs" aria-label="Перейти в instagram">
						<i class="btn__icon icon">
							<svg height="24" width="24" aria-hidden="true">
								<use xlink:href="assets/img/icons/ui/sprite.svg#instagram"></use>
							</svg>
						</i>
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- bottom -->
	<div class="footer__bottom">
		<div class="footer__bottom-container container">
			<p> &copy; Copyright
				<script>
					var currentTime = new Date();
					var currentyear = currentTime.getFullYear() + '.';

					document.write(currentyear);
				</script> ter Hürne GmbH & Co. KG
			</p>
			<a id="ArtBro" class="ArtBro" href="https://cweb.by/" target="_blank">Разработка и продвижение cweb.by</a>
		</div>
	</div>
</footer>