<!-- HEADER -->
<header {% include "@/_default.twig" with {
	_default: {
		default_class: "header",
		class: header.class,
		params: header.params,
		params_custom: header.params_custom,
		data: header.data
	}
} %}>
	<div class="header__container container">
		<div class="header__row">
			<!-- logo -->
			<a class="header__logo logo" href="/">
				<img src="./assets/img/logo.svg" alt="Логотип компании Ter Hürne ">
			</a>
			<!-- burger -->
			<div class="header__burger">
				<div class="header__burger-inner">
					<form class="header__burger-search search-field" action="#">
						<input class="search-field__input" type="search" placeholder="Поиск товаров">
						<button class="search-field__submit btn btn--icon btn--bg_transparent" type="submit">
							<i class="btn__icon">
								<svg height="24" aria-hidden="true">
									<use xlink:href="assets/img/icons/ui/sprite.svg#loupe"></use>
								</svg>
								
							</i>
						</button>
					</form>
					<!-- menu -->
					<nav class="menu">
						<ul class="menu__list">
							<li class="menu__item">
								<a class="menu__link" href="#">
									<span>Каталог</span>
									<i class="menu__item-arr">
										<svg height="15" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
										</svg>
									</i>
								</a>
								<!-- submenu -->
								<div class="menu__submenu">
									<div class="menu__submenu-container">
										<div class="menu__submenu-content">
											<!-- lvl 2 menu list -->									
											<ul class="menu__submenu-list">
												<li class="menu__item">
													<a class="menu__link">
														<span>ENGINEERED HARDWOOD FLOORING</span>
														<i class="menu__item-arr">
															<svg height="15" aria-hidden="true">
																<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
															</svg>
														</i>
													</a>
													<ul class="menu__submenu-list">
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Collections</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Healthy living</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Natural design</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Smart properties</span></a>
														</li>
													</ul>
												</li>
												<li class="menu__item">
													<a class="menu__link">
														<span>HYWOOD</span>
														<i class="menu__item-arr">
															<svg height="15" aria-hidden="true">
																<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
															</svg>
														</i>
													</a>
													<ul class="menu__submenu-list">
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Overview</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Floor finder</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Healthy living</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Natural design</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Smart properties</span></a>
														</li>
													</ul>
												</li>
												<li class="menu__item">
													<a class="menu__link">
														<span>AVATARA DESIGN FLOOR 3.0</span>
														<i class="menu__item-arr">
															<svg height="15" aria-hidden="true">
																<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
															</svg>
														</i>
													</a>
													<ul class="menu__submenu-list">
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Overview</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Floor finder</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Healthy living</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Natural design</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Smart properties</span></a>
														</li>
													</ul>
												</li>
												<li class="menu__item">
													<a class="menu__link">
														<span>DURECO FLOOR</span>
														<i class="menu__item-arr">
															<svg height="15" aria-hidden="true">
																<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
															</svg>
														</i>
													</a>
													<ul class="menu__submenu-list">
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Overview</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Floor finder</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Healthy living</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Natural design</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Smart properties</span></a>
														</li>
													</ul>
												</li>
												<li class="menu__item">
													<a class="menu__link">
														<span>Laminate floor</span>
														<i class="menu__item-arr">
															<svg height="15" aria-hidden="true">
																<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
															</svg>
														</i>
													</a>
													<ul class="menu__submenu-list">
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Overview</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Floor finder</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Healthy living</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Natural design</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Smart properties</span></a>
														</li>
													</ul>
												</li>
												<li class="menu__item">
													<a class="menu__link">
														<span>Luxury vinyl flooring</span>
														<i class="menu__item-arr">
															<svg height="15" aria-hidden="true">
																<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
															</svg>
														</i>
													</a>
													<ul class="menu__submenu-list">
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Overview</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Floor finder</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Healthy living</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Natural design</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Smart properties</span></a>
														</li>
													</ul>
												</li>
												<li class="menu__item">
													<a class="menu__link">
														<span>Аксессуары</span>
														<i class="menu__item-arr">
															<svg height="15" aria-hidden="true">
																<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
															</svg>
														</i>
													</a>
													<ul class="menu__submenu-list">
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Плинтусы</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Подкладочный материал</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Профили</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Очистка, уход и техническое обслуживание</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Аксессуары для установки</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Лестничные ступени</span></a>
														</li>
													</ul>
												</li>
												<li class="menu__item">
													<a class="menu__link">
														<span>Панели</span>
														<i class="menu__item-arr">
															<svg height="15" aria-hidden="true">
																<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
															</svg>
														</i>
													</a>
													<ul class="menu__submenu-list">
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Настенные и потолочные плинтусы</span></a>
														</li>
														<li class="menu__item">
															<a class="menu__link" href="#"><span>Настенные и потолочные аксессуары</span></a>
														</li>
													</ul>
												</li>
											</ul>
											<!-- anzeige -->
											<div class="menu__anzaige">
												<img class="menu__anzaige-img" src="docs/img/banner-menu.jpg" alt="">
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="menu__item">
								<a class="menu__link" href="#">
									<span>Обзоры</span>
									<i class="menu__item-arr">
										<svg height="15" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
										</svg>
									</i>
								</a>
								<!-- submenu -->
								<div class="menu__submenu">
									<div class="menu__submenu-container">
										<div class="menu__submenu-content">
											<!-- lvl 2 menu list -->									
											<ul class="menu__submenu-list">
												<li class="menu__item">
													<a class="menu__link" href="#">
														<span>ENGINEERED HARDWOOD FLOORING</span>
														<i class="menu__item-arr">
															<svg height="15" aria-hidden="true">
																<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
															</svg>
														</i>
													</a>
												</li>
												<li class="menu__item">
													<a class="menu__link" href="#">
														<span>HYWOOD</span>
														<i class="menu__item-arr">
															<svg height="15" aria-hidden="true">
																<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
															</svg>
														</i>
													</a>
												</li>
												<li class="menu__item">
													<a class="menu__link" href="#">
														<span>AVATARA DESIGN FLOOR 3.0</span>
														<i class="menu__item-arr">
															<svg height="15" aria-hidden="true">
																<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
															</svg>
														</i>
													</a>
												</li>
												<li class="menu__item">
													<a class="menu__link" href="#">
														<span>DURECO FLOOR</span>
														<i class="menu__item-arr">
															<svg height="15" aria-hidden="true">
																<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
															</svg>
														</i>
													</a>
												</li>
												<li class="menu__item">
													<a class="menu__link" href="#">
														<span>ENGINEERED HARDWOOD FLOORING</span>
														<i class="menu__item-arr">
															<svg height="15" aria-hidden="true">
																<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
															</svg>
														</i>
													</a>
												</li>
												<li class="menu__item">
													<a class="menu__link" href="#">
														<span>HYWOOD</span>
														<i class="menu__item-arr">
															<svg height="15" aria-hidden="true">
																<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
															</svg>
														</i>
													</a>
												</li>
												<li class="menu__item">
													<a class="menu__link" href="#">
														<span>AVATARA DESIGN FLOOR 3.0</span>
														<i class="menu__item-arr">
															<svg height="15" aria-hidden="true">
																<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
															</svg>
														</i>
													</a>
												</li>
												<li class="menu__item">
													<a class="menu__link" href="#">
														<span>DURECO FLOOR</span>
														<i class="menu__item-arr">
															<svg height="15" aria-hidden="true">
																<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
															</svg>
														</i>
													</a>
												</li>
											</ul>
											<!-- anzeige -->
											<div class="menu__anzaige">
												<img class="menu__anzaige-img" src="docs/img/banner-menu.jpg" alt="">
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="menu__item">
								<a class="menu__link" href="#">
									<span>Где купить</span>
									<i class="menu__item-arr">
										<svg height="15" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
										</svg>
									</i>
								</a>
							</li>
							<li class="menu__item">
								<a class="menu__link" href="#">
									<span>Контакты</span>
									<i class="menu__item-arr">
										<svg height="15" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#chevron"></use>
										</svg>
									</i>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="header__right">
				<div class="btns">
					<div class="btns__list g-5">
						<button class="header__action-btn btn btn--icon btn--size_m btn--bg_transparent" data-search-toggle data-text-label="Поиск" aria-label="Показать поиск">
							<i class="btn__icon">
								<svg height="24" width="24" aria-hidden="true">
									<use xlink:href="assets/img/icons/ui/sprite.svg#loupe"></use>
								</svg>
							</i>
						</button>
						<button class="header__action-btn btn btn--icon btn--size_m btn--bg_transparent" aria-label="Показать поиск">
							<i class="btn__icon">
								<svg height="24" width="24" aria-hidden="true">
									<use xlink:href="assets/img/icons/ui/sprite.svg#instagram"></use>
								</svg>
							</i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- search panel -->
	<form class="search-panel" action="#" data-search-panel>
		<div class="search-panel__container container">
			<label class="search-panel__field">
				<i class="search-panel__icon">
					<svg height="25" width="25" aria-hidden="true">
						<use xlink:href="assets/img/icons/ui/sprite.svg#loupe"></use>
					</svg>
				</i>
				<input class="search-panel__input" type="search" placeholder="Поиск по сайту">
				<button class="search-panel__clear" data-search-clear type="button" aria-label="Очистить поиск">
					Очистить
				</button>
				<button class="search-panel__close" data-search-close type="button" aria-label="Закрыть поиск"></button>
			</label>
		</div>
	</form>
</header>
